aside{
    width: 250px;
    overflow: scroll;
    transition: 0.4s;
}

ul.nav li{
    border: solid 2px #f1f1f1;
    border-right: none;
    margin-top: 20%;
    padding: 5px 0px;
    transition: all 0.6s;
}

ul.nav li:hover, ul.nav{
    border-color: #2d3436;
    transition: all 1s;
}

ul.nav li a{
    color: #2d3436;
    margin-left: 20px;
    font-weight: 600;
}

#hamburguer{
    margin-left: 34px;
    margin-top: 20px;
    background-color: transparent;
    border: none;
}

#hamburguer-icon{
    cursor: pointer;
}

#foursquareImg{
    width: 200px;
}

.hidden{
    overflow: hidden;
    width: 80px;
    transition: 0.4s;
}

.hidden li{
    display: none;
    margin-left: -100px;
    transition: 0.4s;
}